body{
    background: url(../images/water.jpg);
}
form{
    text-align: center;
}
input:disabled{
    background-color: chartreuse;
}
.open-button{
    background-color: cadetblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}