*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.calc{
    align-items: center;
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: -5px -5px 12px #161515,
                5px 5px 12px ;
    background-color:#f7f2f2;
}
#answer{
    margin-top: 25px;
    margin-bottom: 35px;
    background: #ecf0f3;
    width: 370px;
    height: 50px;
    border-radius: 15px;
    color: hsl(0, 0%, 4%);
    margin-bottom: 25px;
    text-align: right;
    letter-spacing: 1px;
}
input{
   font-size: 25px;
   width: 65px;
   height: 55px;
   margin: 3px;
   border-radius: 50%;
   border: none;
   box-shadow: inset -5px -5px 12px #9c9999 ,
               inset 5px 5px  12px rgba(0,0,0, .16);
   color: #0e0d0d;
   background: #eee5e5;
}
input[type="button"]:hover{
    cursor: pointer;  
    background: white;
    color: black;
}