*{
    margin: 0px;
     padding: 0px;
    box-sizing: border-box;
}
.logoo img{
    width: 40px;
    height: 20px;
}
.logoo p{
    text-align: center;
    font-size: 10px;
}
.logo img{
  width: 80px;
  height: 50px;
  padding: 0px;
}
nav{
    background-color: #fdfaf9;
    display: flex;
    text-transform: uppercase;
    /* margin-bottom: 25px; */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
}
label{
    color: hsl(249, 95%, 48%);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
} 
nav ul li {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
}
nav ul li:hover{
    background-color: cyan;
}
nav input{
    border: none;
    border-radius: 25px;
}
nav span a{
    color: black;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
nav span a:hover{
    background-color: cyan;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.slider figure{
    position: relative;
    width: 400%;
    padding-top: 20px;
    margin: 0px;
    left: 0px;
    animation: 20s slider infinite;
}
.slider img{
    width: 25%;
    margin-top: 50px;
    padding-bottom: 25px;
    float: left;
}
.slider{
    overflow: hidden;
    
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
img{
    width: 250px;
    height: 350px;
}
a img{
    padding: 15px;
}
section img:hover{
    /* box-shadow: 0px 0px 25px 10px blueviolet; */
     transform: scale(1.3);
     border-radius: 15%;
     z-index: 1;
}
#slider img{
    position: relative;
    width: 100%;
    margin: 0px;
}
.fixed{
    writing-mode: vertical-rl;
    bottom: 250px;
    border-radius: 5px;
    vertical-align: middle;
    transform: rotate(-180deg);
    position: fixed;
    right: 0;
    background-color: grey;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding: 34px 5px ;
    z-index: 3;
}
h1{
    margin-left: 15px;
    margin-top: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.filters{
    padding-top: 20px;
}
/* internal file css */
.side-bar{
    margin-top: 130px;
    background:transparent;
    width: 16%;
    height: 100vh;
    position: fixed;
    top: 0px;
    padding-left: 2%;
    padding-top: 20px;
}
.side-bar label{
    font-weight: normal;
    font-size: 15px;
    color: black;
}
.top-bar{
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: 20px;
    display: flex;
    padding-top: 90px;
}
.top-bar a{
    text-decoration: none;
    color: black;
}
.bottem1{
    text-transform: capitalize;
    color: hsl(240, 4%, 5%);
    margin-left: 20px;
}
/* internal file css close*/
.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.pro1{
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.pro1 img{
    border-radius: 15px;
}
.offers-on-top-brands{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    
}
.offers-on-top-brands img{
    width: 200px;
    height: 190px;
    border-radius: 15px;
}
.brands{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.brands img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}
.bags{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.bags img{
    clip-path: circle();
}
.bags p{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
}
.carts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}
.carts p{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
}
.carts img{
    clip-path: circle();
}
.TOP-BRANDS{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}
.TOP{
    border: 1px solid gray;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 15px;
}
.TOP img{
    border-radius: 15px;
}
.TOP p{
    width: 250px;
}
.NEW-BRANDS{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
    text-align: center;
}
.log{
    display: block;
    margin-left: 20%;
    margin-right: 30%;
    padding: 25px;
    color: white;
    background-color: turquoise;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
}
input{
    padding: 5px 25px;
    border-radius: 25px;
}
.log input:hover{
     background-color: chocolate;
     color: white;
}

.log form input:last-child{
   padding: 5px 15px 5px 15px;
} 
.search a{ 
    color: black;
   text-decoration: none;
}
.search a:hover{
    padding: 5px 25px;
    border-radius: 25px;
    background-color: coral;
}
.bottem {
    margin-left: 8%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
}
.bottem a{
    color: black;
    text-decoration: none;
}
.bottem ul {
    list-style: none;
}
.search{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}
.copy{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}
.address{
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.address p{
    margin-top: 100px;
}
.made-easy{
    margin-left: 15%;
    margin-right: 15%;
}
.india{
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
.india ol{
    margin-top: 10px;
    margin-left: 10%;
}
@media only screen and (max-width:639px){
    section #myntra{
        padding: 0px;
        width: 100%;
    }
    nav{
        display: block;
        height: 400px;
        width: 100%;
        flex-direction: column;
    }
    nav ul li {
        background-color: #eee8e6;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
       justify-content: center;
    }
     .slider{
         padding-top: 250px;
     }
   .fixed{
       position: relative;
       right: 0;
   }
   img{
       padding: 0px;
   }
}
@media screen and (max-width:640px) and (max-width:1020px){
    section #myntra,.head,.offers,.pro1,.NEW-BRANDS {
        width: 100%;

    }
}